.advantages__list {
  background-color: @back-grey;
}

.advantages__benefits {
  background-color: @back-grey;
}

.advantages__text {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.advantages__item-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
