.desc {
  background: @pink url(../img/back-mobile.jpg) no-repeat 50% -67px;
  width: 320px;
  min-height: 395px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
}

.desc__text {
  font-size: 24px;
  line-height: 33px;
  color: @white;
  font-weight: 300;
  margin: 0;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 27px;
}



@media (min-width: @tablet-width) {
	.desc {
		background: @pink url(../img/back-tablet.jpg) no-repeat center -111px;
		width: 600px;
		min-height: 729px;
	}

	.desc__text {
		font-size: 50px;
		line-height: 68px;
		margin-top: 39px;
	}
}

@media (min-width: @desktop-width) {
	.desc {
		background: @pink url(../img/back-desktop.jpg) no-repeat center;
		width: 1200px;
		height: 853px;
	}

	.desc__text {
		margin-top: 142px;
	}
}