.main-title {
    font-size: 24px;
    line-height: 33px;
    font-weight: 300;
    color: @white;
    position: absolute;
    z-index: 5;
    width: 60%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 27px auto 0;
}


.headline {
    position: relative;
    margin: 0 auto;
}

.headline__block-area {
    background: @pink url(../img/back-mobile.jpg) no-repeat center -67px;
    width: 320px;
    min-height: 395px;
}

.headline__block-content {
    position: absolute;
    top: 170px;
    z-index: 5;
    background-color: @white;
    padding-bottom: 36px;
    padding-top: 30px;
}

.headline-text {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: @tablet-width) {
    .main-title {
        font-size: 50px;
        line-height: 68px;
        margin-top: 65px;
    }

    .headline-text {
        font-size: 18px;
    }

    .headline__block-area {
        background: @pink url(../img/back-tablet.jpg) no-repeat center -111px;
        width: 660px;
        min-height: 618px;
    }

    .headline__block-content {
        top: 329px;
        padding-top: 73px;
        padding-bottom: 59px;
    }
}

@media (min-width: @desktop-width) {
    .headline__block-area {
      background: @pink url(../img/back-desktop.jpg) no-repeat center;
      width: 1200px;
      min-height: 853px;
    }
}