.page-header {
	background-color: @black-light;
	min-height: 325px;
	margin: 0;
}

.main-nav__link {
    font-size: 18px;
    line-height: 32px;
    color: @white;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

.page-header__logo-wrapper {
	display: flex;
	justify-content: space-between;
}

.page-header__logo {
	margin-left: 20px;
	margin-top: 23px;
	margin-bottom: 23px;
}

.main-nav__toggle {
	align-self: center;
	margin-right: 24px;
}

.main-nav__item {
	padding: 13px;
	width: 100%;
	text-align: center;
	box-shadow: 
	0px 1px 0px #000000,
    inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

.main-nav__item:nth-child(2) {
	padding: 19px;
}

.main-nav__item:nth-child(3) {
	padding: 14px;
}

.main-nav__item:nth-child(4) {
	padding: 17px;
}

.logo-tablet,
.logo-desktop {
	display: none;
}

@media (min-width: @tablet-width) {
	.page-header {
		min-height: 365px;
	}

	.logo-mobile {
		display: none;
	}

	.logo-tablet {
		display: inline-block;
	}
}

@media (min-width: @desktop-width) {
	.main-nav__list {
		display: flex;
		flex-direction: row;
	}

	.main-nav__link {
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
    }

    .page-header {
    	display: flex;
    	justify-content: space-between;
    	min-height: 110px;
    }

	.logo-desktop{
		display: block;
	}

	.logo-tablet {
		display: none;
	}

	.main-nav__toggle {
		display: none;
	}
}