.preview {
    position: relative;
    top: -41px;
    margin: 0 auto;
    max-width: 1200px;
}

.preview__paragraph {
    font-size: 12px;
    line-height: 24px;
    background-color: @red;
    color: @white;
    margin: 0;
    position: absolute;
    right: 20px;
    text-transform: uppercase;
    padding: 6px 20px;
}

.preview__picture-block {
    position: relative;
    height: 137px;
}

.preview__author {
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    margin-left: 17px;
    margin-top: 18px;
    margin-bottom: 0;
}

.preview__author-time {
    text-transform: uppercase;
}

.preview__author-female {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.preview__comment {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 17px;
    margin-bottom: 10px;
    width: 85%;
}

.preview__quantity {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: @pink;
    text-transform: uppercase;
    margin: 0;
    margin-top: 1px;
    margin-left: 19px;
}

.preview__like {
    margin-left: 17px;
}

.preview__picture-content {
    background-color: @back-grey;
    margin: 0 20px 20px;
}

.preview__panorama-tablet,
.preview__panorama-desktop,
.preview__pic-tablet,
.preview__pic-desktop {
    display: none;
}

.preview__main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.preview__photo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview__wrapper-like {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}


@media (min-width: @tablet-width) {
    .preview {
        top: -61px;
    }

    .preview__paragraph {
        top: 57px;
    }

    .preview__panorama-tablet,
    .preview__pic-tablet {
        display: initial;
    }

    .preview__panorama-mobile,
    .preview__pic-mobile {
        display: none;
    }

    .preview__wrapper {
        flex-wrap: wrap;
    }

    .preview__photo-card {
        width: 50%;
    }
}

@media (min-width: @desktop-width) {
    .preview {
        top: -219px;
    }

    .preview__panorama-desktop,
    .preview__pic-desktop {
        display: initial;
    }

    .preview__panorama-tablet,
    .preview__pic-tablet {
        display: none;
    }

    .preview__photo-card {
        width: 33%;
    }

    .preview__paragraph {
        top: 54px;
        right: 130px;
    }
}