.preview__paragraph {
	font-size: 12px;
    line-height: 24px;
	background-color: @red;
	color: @white;
}

.preview__author {
	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
}

.preview__author-female {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}

.preview__comment {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.preview__quantity {
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	color: @pink;
}

.preview__picture-content {
	background-color: @back-grey;
}