.questionary {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 8;
    background-color: @white;
    top: 170px;
    padding-top: 44px;
}

.questionary__desc {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.questionary__desc,
.questionary__prompt {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}

.questionary__contacts-label,
.questionary__named-label {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: @pink;
    text-transform: uppercase;
}

.questionary__named-label {
  margin-left: 31px;
}

.questionary__named-text {
  border: 2px solid @bord-col;
  border-radius: 1px;
  padding: 14px 20px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.questionary__contacts-input[value="Номер, пожалуйста"],
.questionary__contacts-input[value="Введите почту *"],
.questionary__named-text[value="Укажите фамилию *"],
.questionary__named-text[value="Введите ваше имя *"],
.questionary__named-text[value="Ну и отчество тоже"],
.questionary__progress-label,
.questionary_app-label,
.questionary__comment-textarea {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: inherit;
}

.questionary__caption-progress,
.questionary__caption-app,
.questionary__caption-comment {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: @pink;
}

.questionary__submit-button {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: @white;
    background-color: @green;
    border: 2px solid @green;
    border-radius: 1px;
}

.questionary__group-named {
    margin: 0;
    border: none;
    padding-top: 35px;
}

.questionary__group-progress,
.questionary__group-app {
    background-color: @back-grey;
    border: none;
    margin: 0;
}

.questionary__group-progress {
  padding-top: 0;
}

.questionary__group-contacts,
.questionary__group-comment {
    border: none;
    margin: 0;
}

.questionary__group-contacts,
.questionary__group-comment {
    text-align: center;
}

.questionary__caption-contacts,
.questionary-text-hidden {
    display: none;
}

.questionary__caption-app,
.questionary__caption-progress {
    text-align: center;
    text-transform: uppercase;
}

.questionary__caption-progress {
  
  width: 100%;
  background-color: @back-grey;

}

.questionary__block-named {
    display: flex;
    flex-direction: column;
}

.questionary__block-named:nth-child(2) {
  margin-top: 17px;
}

.questionary__block-named:nth-child(3) {
  margin-top: 17px;
  margin-bottom: 14px;
}

.questionary__block-contacts {
    display: flex;
    flex-direction: column;
}

@media (min-width: @tablet-width) {
    .questionary {
        top: 329px;
        padding-top: 91px;
    }

    .questionary__desc {
        font-size: 18px;
        width: 80%;
    }

    .questionary-text-hidden {
        display: initial;
    }

    .questionary__caption-progress {
        line-height: 30px;
    }

    .questionary__caption-contacts {
        display: block;
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
        color: @pink;
    }

    .questionary__group-progress,
    .questionary__group-contacts,
    .questionary__group-app,
    .questionary__group-comment {
        background-color: @white;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
    }

    .questionary__caption-app,
    .questionary__caption-comment {
        line-height: 30px;
    }

    .questionary__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .questionary__group-named {
        order: 1;
        padding-top: 67px;
        width: 100%;
    }

    .questionary__block-named:nth-child(2) {
        margin-top: 47px;
    }

    .questionary__block-named:nth-child(2) .questionary__named-text {
        margin-left: 15px;
        padding-right: 338px;
    }

    .questionary__block-named:nth-child(3) {
        margin-top: 47px;
    }

    .questionary__named-label {
        margin-left: 20px;
    }

    .questionary__named-text {
        margin-left: 14px;
        padding-right: 298px;
    }

    .questionary__group-app {
        order: 2;
    }

    .questionary__group-contacts {
        order: 3;
        width: 95%;
    }

    .questionary__group-progress {
        order: 4;
        width: 95%;
    }

    .questionary__group-comment {
        order: 5;
        width: 95%;
    }

    .questionary__block-bottom {
        order: 6;
        width: 95%;
    }

    .questionary__block-named {
        display: block;
    }

    .questionary__contacts-label {
        order: 1;
    }

    .questionary__block-bottom {
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: @desktop-width) {
    .questionary {
        top: 394px;
    }

    .questionary__desc {
        width: 65%;
    }

    .questionary__form {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .questionary__double-block-progress {
        display: flex;
        flex-direction: column;
    }

    .questionary__group-progress {
        display: flex;
        justify-content: center;
    }

    .questionary__group-contacts {
        display: flex;
        justify-content: center;
    }

    .questionary__group-named {
        width: 45%;
    }

    .questionary__group-app {
        width: 45%;
    }
}