.rates {
    background-color: @back-grey;
}

.rates__table {
    border: 2px solid #E5E5E5;
    border-collapse: collapse;
    margin: 0 auto;
}

.rates__caption {
    border: 2px solid #E5E5E5;
    background-color: @black-light;
}

.rates__cell {
    border: 2px solid #E5E5E5;
    background-color: @white;
}

.rates__subtitle {
    font-size: 16px;
    line-height: 30px;
    color: @white;
}

.rates__price {
    font-size: 18px;
    line-height: 30px;
    color: @white;
    font-weight: 300;
}

.rates__text {
    font-size: 14px;
    line-height: 30px;
    color: @black-light;
    font-weight: 400;
}
